@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-grey text-white w-full md:w-48 py-6 uppercase hover:opacity-70;
  }

  .btn-inverted {
    @apply border border-grey text-grey w-48 py-6 text-xs uppercase hover:opacity-70;
  }

  .btn-small {
    @apply bg-dark-grey text-white px-2 py-1 w-max text-xs uppercase hover:opacity-70;
  }

  .btn-small-inverted {
    @apply border border-grey text-grey px-2 w-max text-xs py-1 uppercase hover:opacity-70;
  }

  .input-primary {
    @apply bg-white;
  }

  .text-h1 {
    @apply text-left text-xl md:text-3xl font-serif font-light text-dark-grey;
  }
  .text-h1-dark {
    @apply text-h1 text-white;
  }

  .text-main {
    @apply text-sm md:text-base text-left font-sans text-dark-grey;
  }

  .text-main-dark {
    @apply text-main text-light-grey-3;
  }

  .text-sub {
    @apply text-sm text-left font-sans text-grey;
  }

  .text-sub-dark {
    @apply text-sub text-light-grey-2;
  }

  .text-h2 {
    @apply text-left text-lg md:text-xl font-serif font-light text-dark-grey;
  }

  .text-h3 {
    @apply text-left text-sm md:text-base font-serif font-light text-dark-grey;
  }
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

/* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

/* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
